.container {
    max-width: 100%;
    min-height: 100vh;
    margin: 0rem 0rem 0rem 0rem;
    padding: 7rem 0.5rem 2rem 0.5rem;
    background-color: #000000;
    color: #ffffff;
}

.title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #ffd700;
}

.error {
    background-color: rgba(255, 0, 0, 0.1);
    border: 1px solid #ff0000;
    color: #ff0000;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.loadingSpinner {
    width: 2rem;
    height: 2rem;
    border: 2px solid #ffd700;
    border-top: 2px solid transparent;
    border-radius: 50%;
    margin: 2rem auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.searchContainer {
    position: relative;
    margin: 1.5rem 0rem;
}

.searchInput {
    width: 100%;
    padding: 0.5rem 1rem 0.6rem 4rem;
    font-size: 0.9rem;
    border-bottom: 1px solid #ffd9008f;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    color: #ffffff;
    transition: all 0.3s ease;
}

.searchInput:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #ffd9008f;
}

.searchIcon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #ffd700;
}

.userGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 1rem;
    align-items: start;
}

.userCard {
    background-color: rgba(26, 26, 26, 0.8);
    border: 1px solid #ffd700;
    border-radius: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: fit-content;
}

.userCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.2);
}

.userInfo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.iconUser {
    color: #ffd700;
    margin-right: 0.5rem;
    width: 1.4rem;
}

.icon {
    color: #ffd700;
    margin-right: 0.5rem;
    width: 0.9rem;
}

.userEmail {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 300;
    color: #cccccc;
    margin-bottom: 0.1rem;
}

.userGoal {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 300;
    color: #cccccc;
}



.card {
    background-color: rgba(26, 26, 26, 0.95);
    border: 1px solid #ffd700;
    border-radius: 1rem;
    padding: 0.1rem;
    overflow: hidden;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 215, 0, 0.2);
}

.userHeaderInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.headerIcon {
    color: #ffd700;
    width: 1.3rem;
    margin-bottom: 0.4rem;
}

.cardTitle {
    font-size: 1rem;
    font-weight: bold;
    color: #ffd700;
    margin-bottom: 0.25rem;
}

.backButton {
    background: none;
    border: none;
    color: #ffd700;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.backButton:hover {
    background-color: rgba(255, 215, 0, 0.1);
}

.historyTitle {
    font-size: 1rem;
    font-weight: 400;
    padding: 0.3rem;
}



/* workou list */
.workoutList {
    padding: 0.5rem;
}

.workoutItem {
    background-color: rgba(40, 40, 40, 0.95);
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.workoutItem:hover {
    background-color: rgba(60, 60, 60, 0.95);
    transform: translateX(4px);
}

.workoutHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workoutInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.workoutIcon {
    color: #ffd700;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.statusIcon {
    width: 3rem;
    padding: 0rem 0rem 0rem 0rem;
    color: #fff;
    margin-right: -4rem;
}

.statusIconPago {
    width: 3rem;
    padding: 0rem 0rem 0rem 0rem;
    color: #ffd700;
    margin-right: -4rem;
}

.workoutTitle {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.workoutDate {
    font-size: 0.875rem;
    color: #a0a0a0;
}

.chevronIconOne {
    display: flex;
}

.chevronIcon {
    color: #ffd700;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.workoutItem:hover .chevronIcon {
    opacity: 1;
}


/* modal style */
.modal {
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000ee;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: #1a1a1a;
    border: 1px solid #ffd700;
    border-radius: 1rem;
    width: 90%;
    max-width: 600px;
    max-height: 75vh;
    overflow-y: auto;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid rgba(255, 215, 0, 0.2);
}

.modalTitle {
    font-size: 1rem;
    font-weight: 500;
    color: #ffd700;
    letter-spacing: 0.3px;
}

.modalBody {
    padding: 0.5rem;
}


.workoutMeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.metaIcon {
    width: 1.5rem;
    padding: 0.3rem 0rem 0rem 0rem;
}

.metaDate {
    padding: 0rem 0rem 0.5rem 0.5rem;
}

.workoutDescription {
    font-size: 0.9rem;
    font-weight: 400;
    color: #ffd700;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1px;
}

.exercisesList {
    display: grid;
    gap: 0.5rem;
}

.exerciseCard {
    background-color: rgba(40, 40, 40, 0.95);
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.exerciseNameMuscle {
    font-size: 0.95rem;
    font-weight: 300;
    color: #ffd700;
    margin-bottom: 0.5rem;
    list-style: none;
}

.exerciseName {
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: 0.3rem 0rem 0rem 0rem;
    padding: 0.2rem 0rem 0rem 0rem;
    list-style: none;
    color: white;
    border-top: 1px solid #ffd90017;
}

.exerciseDetails {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #a0a0a0;
    margin-bottom: 0.5rem;
}

.closeButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.closeButton:hover {
    background-color: rgba(255, 215, 0, 0.1);
}


/* media query min width 600px */
@media (min-width: 600px) {
    .container {
        margin-top: 5rem;
        padding: 4rem;
    }

    .title {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .userGrid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5rem;
    }

    .card {
        padding: 1.5rem;
    }

    .cardTitle,
    .historyTitle {
        font-size: 1.5rem;
    }
}






.userCard {
    background-color: rgba(26, 26, 26, 0.8);
    border: 1px solid #ffd700;
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.userHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1rem;
}

.userHeaderContent {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.userDetails {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding: 0 1rem;
}

.userDetails.expanded {
    max-height: 300px;
    padding: 1rem;
    border-top: 1px solid rgba(255, 215, 0, 0.2);
}

.chevronIcon {
    color: #ffd700;
    transition: transform 0.3s ease;
}

.chevronRotated {
    transform: rotate(180deg);
}

.viewHistoryBtn {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: rgba(255, 215, 0, 0.1);
    border: 1px solid #ffd90073;
    color: #ffd700;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

.viewHistoryBtn:hover {
    background-color: rgba(255, 215, 0, 0.2);
}

.userEmail,
.userGoal {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: #cccccc;
}

.icon {
    color: #ffd700;
    margin-right: 0.5rem;
    width: 0.9rem;
}