/* page.module.css */

/* Container para o overlay do modal */
.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fundo escuro com opacidade */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Container do modal */
.modal-container {
  background: #1a1a1a; /* Fundo escuro para o modal */
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7); /* Sombra para destacar o modal */
  padding: 20px;
  width: 90%; /* Largura do modal ajustada para não ocupar toda a tela */
  max-width: 400px; /* Largura máxima do modal adequada para dispositivos móveis */
  max-height: 90vh; /* Altura máxima do modal */
  overflow-y: auto; /* Adiciona rolagem vertical se necessário */
  position: relative;
  z-index: 1;
}

/* Estilo do título */
.modal-container h1 {
  text-align: center;
  color: #f5f5f5;
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Estilização do formulário */
.modal-container form {
  display: flex;
  flex-direction: column;
}

/* Estilo dos campos do formulário */
.modal-container div {
  margin-bottom: 15px;
}

.modal-container label {
  font-size: 1.1em;
  color: #ccc;
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
}

.modal-container input {
  width: 100%;
  padding: 12px;
  border: 2px solid #007bff; /* Cor do contorno dos inputs */
  border-radius: 8px;
  font-size: 1em;
  background-color: #333;
  color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}

.modal-container input:focus {
  border-color: #00c4ff; /* Cor do contorno quando o input está focado */
  background-color: #444;
  outline: none;
}

/* Estilo do botão */
.modal-container button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #007bff;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 10px;
}

.modal-container button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.modal-container button:active {
  background-color: #004085;
  transform: translateY(0);
}

/* Estilo para mensagens */
.modal-container p {
  text-align: center;
  color: #f5f5f5;
  font-size: 1em;
  margin-top: 20px;
  font-weight: 500;
}

/* Estilo do botão de alternar */
.modal-container button.toggle {
  background-color: #6c757d;
}

.modal-container button.toggle:hover {
  background-color: #5a6268;
}

.modal-container button.toggle:active {
  background-color: #4e555b;
}

/* Estilos responsivos específicos para mobile */
@media (max-width: 480px) {
  .modal-container {
    padding: 15px;
    max-width: 95%; /* Ajusta a largura para quase toda a tela */
  }

  .modal-container h1 {
    font-size: 1.8em;
  }

  .modal-container input button {
    font-size: 0.9em;
  }
}
